storage/logs/**
!storage/logs/.*
storage/export/**
storage/framework/views/**/*.php
storage/framework/cache/**/*
storage/framework/sessions/**/*
!storage/framework/views/.*
!storage/framework/cache/.*
!storage/framework/sessions/.*

/node_modules
/public/storage
/public/hot
/storage/*.key
/.idea
Homestead.json
Homestead.yaml
_ide_helper.php
.phpstorm.meta.php
